$border-radius: 8px;

$border-color: #ccc;
$border-color-on-focus: #6262ff;

$background-color-primary: #fff;
$background-color-secondary: #6262ff;
$background-color-overlay: #cccccc45;
$background-color-pure-white: #fff;

$text-color-primary: #aaa;
$text-color-secondary: #6262ff;
$text-color-pure-white: #fff;
